<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sleep Meter" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script>
      var g1;
        window.onload = function(){
        var g1 = new JustGage({
          id: "g1", 
          value: 
          <%- if user_signed_in? %>
            <%=((current_user.sleep_times.sum(:duration)/3600)- (current_user.expected_hours)).to_i%>, 
          <%- else %>
            0,
          <%- end %>
          min: -48,
          max: 48,
          title: " ",
          levelColorsGradient: true,
          label: "Debt/Surplus"
        });
      };
    </script>
</head>
<body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="masthead">
          <ul class="nav nav-pills pull-right">
            <%- if user_signed_in? %>
              <li class="active"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <%- else %>
              <li id="sign_up_in"><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <%- end %>
          </ul>
          <h3 id="nav_title">Sleep Meter</h3>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="span12">
              <%- if user_signed_in? %>
                  <%= yield %>
              <%- else %>
                  <div class="jumbotron">
                    <h1 id="title">Sleep-Meter</h1>
                    <h4 id="slogan" class="muted">Not too much not too little.<br> Get them 8 hours sleep to keep your meter in the middle.</h4>
                    <div id="g1"></div>
                    <p class="lead">Sleep Meter tracks your sleep time and is here to keep you healthy!</p>
                    <a class="btn btn-large btn-success" <%= link_to "Sign Up", new_user_registration_path %></a>
                    <%= yield %>
                  </div>
               <%- end %>
                <% flash.each do |name, msg| %>
                  <% if msg.is_a?(String) %>
                    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
                      <a class="close" data-dismiss="alert">&#215;</a>
                      <%= content_tag :div, msg, :id => "flash_#{name}" %>
                    </div>
                  <% end %>
                <% end %>            
            </div>
          </div>

          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
